.section{
    width: 80%;
    background-color: rgba(52,58,64,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.div2{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

h1{
    color : white;
    text-align: center;
}

.buttonAll{
    background-color:rgba(52,58,64,255);
    border:1px solid blue;
    color: blue;
    padding: 10px;
    border-radius: 5px;
}

.buttonDone{
    background-color:rgba(52,58,64,255);
    border: 1px solid green;
    color: green;
    padding: 10px;
    border-radius: 5px;
}
.buttonTodo{
    background-color:rgba(52,58,64,255);
    border: 1px solid red;
    color:red;
    padding: 10px;
    border-radius: 5px;
}

.divGlob{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
}
.divIcon{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    
}
label{
    color:black;
    font-size: 30px;
}

.beDelete{
    
}
.bEdit{
    
}


i{
    font-size: 30px;
}



.fa-edit{
    color: yellow;
}
.fa-trash-alt{
    color:red;
}

.clear{
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    border: 1px solid red;

}
